@import url("https://fonts.googleapis.com/css2?family=Indie+Flower&family=Patrick+Hand&display=swap");

.App {
  font-family: "Patrick Hand", cursive;
}

body {
  background: linear-gradient(
    109.6deg,
    rgb(36, 45, 57) 11.2%,
    rgb(16, 37, 60) 51.2%,
    rgb(0, 0, 0) 98.6%
  );
  font-family: "Patrick Hand", cursive;
}
.box {
  border: none;
  border-radius: 8px;
  margin: 52px auto;
  padding: 15px 25px;
  max-width: 650px;
  box-shadow: 2px 3px 8px black;
  background-image: url("https://s3.amazonaws.com/shecodesio-production/uploads/files/000/058/938/original/mount.jpg?1671118583");
  background-size: 920px;
}
.days {
  font-size: 25px;
  color: white;
}
.weather-forecast {
  color: white;
  text-align: center;
}
hr {
  color: white;
}
.week {
  font-size: 20px;
  color: white;
}
.numbers {
  color: white;
}
.below {
  color: white;
  text-align: center;
  margin-right: 425px;
  margin-top: -43px;
}
.icons {
  width: 5px;
}
#git {
  text-decoration: none;
}
h1 {
  font-size: 50px;
  color: white;
}
h2 {
  color: white;
}
.left-heading {
  text-align: left;
}
.current-weather {
  color: white;
  margin-left: 12px;
}
.temperature {
  margin-top: 10px;
}
.current-temperature {
  text-align: center;
  font-size: 100px;
  font-weight: 400;
  color: white;
}

#width {
  width: 30%;
  margin-left: -5%;
  text-align: center;
  margin-top: -8px;
  margin-bottom: -20px;
}
#windspeed {
  color: white;
  margin-top: -20px;
  font-size: 16px;
}
#humidity {
  color: white;
  font-size: 16px;
}
.form-control {
  display: inline;
  max-width: 400px;
  margin-top: 10px;
}
.btn {
  margin-top: -4px;
  padding: 6px 20px;
}
#current {
  position: relative;
  left: 488px;
  top: -33px;
  color: white;
}
