.days {
  font-size: 25px;
  color: white;
}
.weather-forecast {
  color: white;
  text-align: center;
}
hr {
  color: white;
}
.week {
  font-size: 20px;
  color: white;
}
.numbers {
  color: white;
}
